{% extends 'home.html' %}

{% block title %}Log Everything{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Log Everything</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>UUID</th>
                    <th>Key</th>
                    <th>TXT</th>
                    <th>Session</th>
                    <th>IP Address</th>
                    <th>App</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ log.uuid }}</td>
                    <td>{{ log.key }}</td>
                    <td>{{ log.txt }}</td>
                    <td>{{ log.session }}</td>
                    <td>{{ log.ipaddr }}</td>
                    <td>{{ log.app }}</td>
                    <td>{{ log.time|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
